.main {
  margin-top: 10px;
  color: teal;
}

.goToProfileBtn {
  margin-top: 10px;
  font-size: 18px;
  padding: 5px;
  background-color: #ffdf3e;
  border: 1px solid #000000;
  cursor: pointer;
}

.goToProfileBtn:hover {
  background-color: #ffd70b;
}

